.a-header {
  margin-top: 3em;
  font-size: 50px;
  font-weight: 50;
  color: #48486e;
  margin-left: 130px;
}

@media only screen and (max-width: 990px) {
  .a-header {
    margin-top: 2em;
    font-size: 2em;
    margin-left: 0px;
    text-align: center;
  }
}

@media only screen and (max-width: 591px) {
  .back-button {
    margin-top: 4em;
  }
}

@media only screen and (max-width: 310px) {
  .title {
    font-size: 2em;
  }
}
